* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6e8dd;
  display: flex;
  justify-content: center;
}

.container {
  width: 400px;
  height: 1100px;
  margin: 60px 50px;
  border-radius: 15px;
  background-color: white;
}

.card {
  border-radius: 15px;
  width: 380px;
  height: 180px;
  margin: 20px auto;
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.omelette {
  font-size: 24px;
  font-weight: bold;
  text-align: start;
  margin: 20px 9px;
}

.description {
  font-size: 14px;
  text-align: start;
  margin: 10px 13px;
  color: gray;
  line-height: 20px;
}

.preparation {
  background-color: #fff4f9;
  border-radius: 15px;
  width: 380px;
  height: 100px;
  margin: 20px auto;
}

h5 {
  color: purple;
  font-size: 12px;
  font-weight: bold;
  text-align: start;
  margin: 15px 15px 15px 15px;
  padding-top: 10px;
}

.lista {
  margin: 10px 25px;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 30px;
  color: black;
}

.lista li::marker {
  color: purple;
}

.ingredientes h3 {
  color: #a0522d;
  font-size: 20px;
  font-weight: bold;
  text-align: start;
  margin: 10px 12px;
}

.ingredientes ul {
  margin: 10px 25px;
  font-size: 10px;
  line-height: 20px;
  color: gray;
}
.ingredientes li::marker {
  color: #a0522d;
}

hr {
  margin: 10px 12px;
}

.instruction h3 {
  color: #a0522d;
  font-size: 20px;
  font-weight: bold;
  text-align: start;
  margin: 10px 12px;
}

.instruction li {
  margin: 10px 25px;
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 15px;
  color: gray;
}

.instruction li::marker {
  color: #a0522d;
}

.nutrition h3 {
  color: #a0522d;
  font-size: 20px;
  font-weight: bold;
  text-align: start;
  margin: 10px 12px;
}

.nutrition p {
  margin: 10px 9px;
  font-size: 10px;
  line-height: 20px;
  color: gray;
}

.calories {
  width: 250px;
  font-size: 12px;
  text-align: start;
  margin: 10px auto 10px 20px;
  display: flex;
  justify-content: space-between;
  color: gray;
}

#kcal {
  font-weight: bold;
  color: #a0522d;
}

.carb {
  width: 225px;
  font-size: 12px;
  text-align: start;
  margin: 10px auto 10px 20px;
  color: gray;
  display: flex;
  justify-content: space-between;
}

#gramas {
  font-weight: bold;
  color: #a0522d;
}

.protein {
  width: 230px;
  font-size: 12px;
  text-align: start;
  margin: 10px auto 10px 20px;
  color: gray;
  display: flex;
  justify-content: space-between;
}

#proteina {
  font-weight: bold;
  color: #a0522d;
}

.fat {
  width: 230px;
  font-size: 12px;
  text-align: start;
  margin: 10px auto 10px 20px;
  color: gray;
  display: flex;
  justify-content: space-between;
}

#gordura {
  font-weight: bold;
  color: #a0522d;
}
